/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.class
*.gitignore
*.iws
*.iml
*.log
*.ipr
/node_modules/
/hatchet-generator
### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/xgb-boot/boot-dao/target/
xgb-boot/boot-model/target/boot-model-1.0-SNAPSHOT.jar
xgb-boot/boot-model/target/generated-sources/
xgb-boot/boot-model/target/maven-archiver/
xgb-boot/boot-model/target/maven-status/
xgb-boot/boot-service/target/
xgb-common/target/generated-sources/
xgb-common/target/maven-archiver/
xgb-common/target/maven-status/
xgb-common/target/xgb-common-1.0-SNAPSHOT.jar
/xgb-boot/boot-api/target/
/xgb-boot/boot-message/target/
/xgb-boot/boot-mybatis/target/
/xgb-boot/boot-oss/target/
/xgb-boot/boot-pay/target/
xgb-test/src/main/resources/
xgb-test/src/test/
xgb-test/target/generated-sources/
/xgb-boot/boot-oss/logs/boot-oss.log/spring.log
/xgb-data/data-api/logs/daily/data-api.log.2020-02-04.gz
/xgb-data/data-api/logs/daily/data-api.log.2020-02-09.gz
/xgb-data/data-api/logs/daily/data-api.log.2020-02-10.gz
/xgb-data/data-api/logs/daily/data-api.log.2020-02-11.gz
/xgb-data/data-api/src/main/resources/templates/content.html
/xgb-data/data-api/src/main/resources/templates/login.html
/xgb-data/data-api/src/main/resources/application.yml
/xgb-data/data-api/src/main/java/com/xgb/common/Constant.java
/xgb-data/data-api/src/main/java/com/xgb/controller/IndexController.java
/xgb-data/data-api/src/main/java/com/xgb/controller/NewStSaveController.java
/xgb-data/data-api/src/main/java/com/xgb/controller/NewStSelectController.java
/xgb-data/data-api/src/main/java/com/xgb/controller/oldToNewResourceController.java
/xgb-data/data-api/src/main/java/com/xgb/controller/SaveDictController.java
/xgb-data/data-api/src/main/java/com/xgb/controller/saveMfController.java
/xgb-data/data-api/src/main/java/com/xgb/controller/saveStController.java
/xgb-data/data-api/src/main/java/com/xgb/controller/SelectMfInsert.java
/xgb-data/data-api/src/main/java/com/xgb/service/NewJcShzzDetailService.java
/xgb-data/data-api/src/main/java/com/xgb/service/NewSaveJcContentAttr1Service.java
/xgb-data/data-api/src/main/java/com/xgb/service/SelectJcContentService.java
/xgb-data/data-api/src/main/java/com/xgb/service/Test.java
/xgb-data/data-api/src/main/java/com/xgb/utils/Mf/Save261.java
/xgb-data/data-api/src/main/java/com/xgb/utils/Mf/Save262.java
/xgb-data/data-api/src/main/java/com/xgb/utils/Mf/Save263.java
/xgb-data/data-api/src/main/java/com/xgb/utils/Mf/Save264.java
/xgb-data/data-api/src/main/java/com/xgb/utils/Mf/Save265.java
/xgb-data/data-api/src/main/java/com/xgb/utils/Mf/Save266.java
/xgb-data/data-api/src/main/java/com/xgb/utils/Mf/Save267.java
/xgb-data/data-api/src/main/java/com/xgb/utils/Mf/Save268.java
/xgb-data/data-api/src/main/java/com/xgb/utils/Mf/Save269.java
/xgb-data/data-api/src/main/java/com/xgb/utils/Mf/Save270.java
/xgb-data/data-api/src/main/java/com/xgb/utils/Mf/Save271.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save202.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save203.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save204.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save205.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save206.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save207.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save208.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save209.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save210.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save211.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save212.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save213.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save214.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save215.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save216.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save217.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save218.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save219.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save220.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2130.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2131.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2142.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2143.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2181.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2182.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2183.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2185.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2186.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2187.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2188.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2190.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2191.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2192.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2193.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2197.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2198.java
/xgb-data/data-api/src/main/java/com/xgb/utils/St/Save2814.java
/xgb-data/data-api/src/main/java/com/xgb/utils/Save200Entity.java
/xgb-data/data-api/pom.xml
/xgb-alone/alone-main/config/
