/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.class
.gitignore
*.iws
*.iml
*.ipr
/node_modules/
/hatchet-generator
### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
package-lock.json
page/SysRole.java
xgb-boot/boot-backend/target/generated-sources/
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysDatabasesMapper.xml
xgb-boot/boot-dao/target/generated-sources/
xgb-boot/boot-model/target/generated-sources/
xgb-boot/boot-service/target/generated-sources/
xgb-common/target/generated-sources/
xgb-common/target/maven-archiver/
xgb-common/target/maven-status/
xgb-common/target/xgb-common-1.0-SNAPSHOT.jar
xgb-mybatis/target/classes/application.properties
xgb-mybatis/target/classes/config/
xgb-mybatis/target/classes/spring/
xgb-mybatis/target/classes/template/
xgb-mybatis/target/generated-sources/
xgb-boot/boot-backend/logs/
xgb-boot/boot-backend/target/classes/com/
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysConfigMapper.class
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysDatabasesMapper.class
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysDeptMapper.class
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysDictMapper.class
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysDivistionMapper.class
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysLogMapper.class
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysMenuMapper.class
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysOssMapper.class
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysPermissionMapper.class
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysRoleMapper.class
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysRolePermissionMapper.class
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysUserMapper.class
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysUserRoleMapper.class
xgb-boot/boot-model/target/
xgb-boot/boot-service/target/
xgb-common/target/classes/com/xgb/lang/IntegerUtils.class
xgb-mybatis/target/
xgb-boot/boot-backend/target/classes/application-dev.properties
xgb-boot/boot-backend/target/classes/application-prod.properties
xgb-boot/boot-backend/target/classes/application.properties
xgb-boot/boot-backend/target/classes/ehcache.xml
xgb-boot/boot-backend/target/classes/logback-spring.xml
xgb-boot/boot-backend/target/classes/mybatis-config.xml
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysConfigMapper.xml
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysDeptMapper.xml
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysDictMapper.xml
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysDivistionMapper.xml
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysLogMapper.xml
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysMenuMapper.xml
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysOssMapper.xml
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysPermissionMapper.xml
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysRoleMapper.xml
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysRolePermissionMapper.xml
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysUserMapper.xml
xgb-boot/boot-dao/target/classes/com/xgb/dao/SysUserRoleMapper.xml
xgb-boot/boot-dao/target/classes/generatorConfig.xml
xgb-boot/boot-dao/target/classes/jdbc.properties
page/SysRoleExample.java
page/SysRoleMapper.java
page/SysRoleMapper.xml
xgb-boot/boot-mybatis/target/classes/application.properties
xgb-boot/boot-mybatis/target/classes/template/
xgb-boot/boot-mybatis/target/generated-sources/
