<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xgb.dao1.SysChinaDivisionMapper" >
  <resultMap id="BaseResultMap" type="com.xgb.model.SysChinaDivision" >
    <constructor >
      <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DIVISION_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PARENT_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DIVISION_CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="POST_CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATUS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATOR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="MODIFIER_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MODIFY_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="HLB_DIVISION_CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DIVISION_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, DIVISION_NAME, PARENT_ID, DIVISION_CODE, POST_CODE, STATUS, CREATOR_ID, CREATE_TIME, 
    MODIFIER_ID, MODIFY_TIME, HLB_DIVISION_CODE, DIVISION_TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xgb.model.SysChinaDivisionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_CHINA_DIVISION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_CHINA_DIVISION
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_CHINA_DIVISION
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xgb.model.SysChinaDivisionExample" >
    delete from SYS_CHINA_DIVISION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xgb.model.SysChinaDivision" >
    insert into SYS_CHINA_DIVISION (ID, DIVISION_NAME, PARENT_ID, 
      DIVISION_CODE, POST_CODE, STATUS, 
      CREATOR_ID, CREATE_TIME, MODIFIER_ID, 
      MODIFY_TIME, HLB_DIVISION_CODE, DIVISION_TYPE
      )
    values (#{id,jdbcType=VARCHAR}, #{divisionName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{divisionCode,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifierId,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{hlbDivisionCode,jdbcType=VARCHAR}, #{divisionType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xgb.model.SysChinaDivision" >
    insert into SYS_CHINA_DIVISION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="divisionName != null" >
        DIVISION_NAME,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="divisionCode != null" >
        DIVISION_CODE,
      </if>
      <if test="postCode != null" >
        POST_CODE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="creatorId != null" >
        CREATOR_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifierId != null" >
        MODIFIER_ID,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="hlbDivisionCode != null" >
        HLB_DIVISION_CODE,
      </if>
      <if test="divisionType != null" >
        DIVISION_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="divisionName != null" >
        #{divisionName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="divisionCode != null" >
        #{divisionCode,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null" >
        #{modifierId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hlbDivisionCode != null" >
        #{hlbDivisionCode,jdbcType=VARCHAR},
      </if>
      <if test="divisionType != null" >
        #{divisionType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xgb.model.SysChinaDivisionExample" resultType="java.lang.Integer" >
    select count(*) from SYS_CHINA_DIVISION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_CHINA_DIVISION
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.divisionName != null" >
        DIVISION_NAME = #{record.divisionName,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.divisionCode != null" >
        DIVISION_CODE = #{record.divisionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.postCode != null" >
        POST_CODE = #{record.postCode,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorId != null" >
        CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifierId != null" >
        MODIFIER_ID = #{record.modifierId,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hlbDivisionCode != null" >
        HLB_DIVISION_CODE = #{record.hlbDivisionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.divisionType != null" >
        DIVISION_TYPE = #{record.divisionType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_CHINA_DIVISION
    set ID = #{record.id,jdbcType=VARCHAR},
      DIVISION_NAME = #{record.divisionName,jdbcType=VARCHAR},
      PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      DIVISION_CODE = #{record.divisionCode,jdbcType=VARCHAR},
      POST_CODE = #{record.postCode,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      MODIFIER_ID = #{record.modifierId,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      HLB_DIVISION_CODE = #{record.hlbDivisionCode,jdbcType=VARCHAR},
      DIVISION_TYPE = #{record.divisionType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xgb.model.SysChinaDivision" >
    update SYS_CHINA_DIVISION
    <set >
      <if test="divisionName != null" >
        DIVISION_NAME = #{divisionName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="divisionCode != null" >
        DIVISION_CODE = #{divisionCode,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        POST_CODE = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null" >
        MODIFIER_ID = #{modifierId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hlbDivisionCode != null" >
        HLB_DIVISION_CODE = #{hlbDivisionCode,jdbcType=VARCHAR},
      </if>
      <if test="divisionType != null" >
        DIVISION_TYPE = #{divisionType,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xgb.model.SysChinaDivision" >
    update SYS_CHINA_DIVISION
    set DIVISION_NAME = #{divisionName,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=VARCHAR},
      DIVISION_CODE = #{divisionCode,jdbcType=VARCHAR},
      POST_CODE = #{postCode,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFIER_ID = #{modifierId,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      HLB_DIVISION_CODE = #{hlbDivisionCode,jdbcType=VARCHAR},
      DIVISION_TYPE = #{divisionType,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>