<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xgb.dao.MfGwyjzZbMapper" >
  <resultMap id="BaseResultMap" type="com.xgb.model.MfGwyjzZb" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="INSTANCEID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ORGANIZATIONID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATUS" jdbcType="DECIMAL" javaType="java.lang.Short" />
      <arg column="MASTERID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="XUHAO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="XINGMING" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CHUSHENGNIANYUE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="DANWEIZHIWU" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GONGZUODANWEI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ZAIZHIZHUANGTAI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LINGCHOUQINGKUANG" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PIZHUNDANWEI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PIZHUNSHIJIAN" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="ZHIWU" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="XINGBIE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SHETUANZHIWU" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, INSTANCEID, ORGANIZATIONID, STATUS, MASTERID, XUHAO, XINGMING, CHUSHENGNIANYUE, 
    DANWEIZHIWU, GONGZUODANWEI, ZAIZHIZHUANGTAI, LINGCHOUQINGKUANG, PIZHUNDANWEI, PIZHUNSHIJIAN, 
    ZHIWU, XINGBIE, SHETUANZHIWU
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xgb.model.MfGwyjzZbExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MJZZ.MF_GWYJZ_ZB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MJZZ.MF_GWYJZ_ZB
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MJZZ.MF_GWYJZ_ZB
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.xgb.model.MfGwyjzZbExample" >
    delete from MJZZ.MF_GWYJZ_ZB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xgb.model.MfGwyjzZb" >
    insert into MJZZ.MF_GWYJZ_ZB (ID, INSTANCEID, ORGANIZATIONID, 
      STATUS, MASTERID, XUHAO, 
      XINGMING, CHUSHENGNIANYUE, DANWEIZHIWU, 
      GONGZUODANWEI, ZAIZHIZHUANGTAI, LINGCHOUQINGKUANG, 
      PIZHUNDANWEI, PIZHUNSHIJIAN, ZHIWU, 
      XINGBIE, SHETUANZHIWU)
    values (#{id,jdbcType=DECIMAL}, #{instanceid,jdbcType=VARCHAR}, #{organizationid,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{masterid,jdbcType=DECIMAL}, #{xuhao,jdbcType=VARCHAR}, 
      #{xingming,jdbcType=VARCHAR}, #{chushengnianyue,jdbcType=TIMESTAMP}, #{danweizhiwu,jdbcType=VARCHAR}, 
      #{gongzuodanwei,jdbcType=VARCHAR}, #{zaizhizhuangtai,jdbcType=VARCHAR}, #{lingchouqingkuang,jdbcType=VARCHAR}, 
      #{pizhundanwei,jdbcType=VARCHAR}, #{pizhunshijian,jdbcType=TIMESTAMP}, #{zhiwu,jdbcType=VARCHAR}, 
      #{xingbie,jdbcType=VARCHAR}, #{shetuanzhiwu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xgb.model.MfGwyjzZb" >
    insert into MJZZ.MF_GWYJZ_ZB
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="instanceid != null" >
        INSTANCEID,
      </if>
      <if test="organizationid != null" >
        ORGANIZATIONID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="masterid != null" >
        MASTERID,
      </if>
      <if test="xuhao != null" >
        XUHAO,
      </if>
      <if test="xingming != null" >
        XINGMING,
      </if>
      <if test="chushengnianyue != null" >
        CHUSHENGNIANYUE,
      </if>
      <if test="danweizhiwu != null" >
        DANWEIZHIWU,
      </if>
      <if test="gongzuodanwei != null" >
        GONGZUODANWEI,
      </if>
      <if test="zaizhizhuangtai != null" >
        ZAIZHIZHUANGTAI,
      </if>
      <if test="lingchouqingkuang != null" >
        LINGCHOUQINGKUANG,
      </if>
      <if test="pizhundanwei != null" >
        PIZHUNDANWEI,
      </if>
      <if test="pizhunshijian != null" >
        PIZHUNSHIJIAN,
      </if>
      <if test="zhiwu != null" >
        ZHIWU,
      </if>
      <if test="xingbie != null" >
        XINGBIE,
      </if>
      <if test="shetuanzhiwu != null" >
        SHETUANZHIWU,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="instanceid != null" >
        #{instanceid,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="masterid != null" >
        #{masterid,jdbcType=DECIMAL},
      </if>
      <if test="xuhao != null" >
        #{xuhao,jdbcType=VARCHAR},
      </if>
      <if test="xingming != null" >
        #{xingming,jdbcType=VARCHAR},
      </if>
      <if test="chushengnianyue != null" >
        #{chushengnianyue,jdbcType=TIMESTAMP},
      </if>
      <if test="danweizhiwu != null" >
        #{danweizhiwu,jdbcType=VARCHAR},
      </if>
      <if test="gongzuodanwei != null" >
        #{gongzuodanwei,jdbcType=VARCHAR},
      </if>
      <if test="zaizhizhuangtai != null" >
        #{zaizhizhuangtai,jdbcType=VARCHAR},
      </if>
      <if test="lingchouqingkuang != null" >
        #{lingchouqingkuang,jdbcType=VARCHAR},
      </if>
      <if test="pizhundanwei != null" >
        #{pizhundanwei,jdbcType=VARCHAR},
      </if>
      <if test="pizhunshijian != null" >
        #{pizhunshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="zhiwu != null" >
        #{zhiwu,jdbcType=VARCHAR},
      </if>
      <if test="xingbie != null" >
        #{xingbie,jdbcType=VARCHAR},
      </if>
      <if test="shetuanzhiwu != null" >
        #{shetuanzhiwu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xgb.model.MfGwyjzZbExample" resultType="java.lang.Integer" >
    select count(*) from MJZZ.MF_GWYJZ_ZB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update MJZZ.MF_GWYJZ_ZB
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.instanceid != null" >
        INSTANCEID = #{record.instanceid,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationid != null" >
        ORGANIZATIONID = #{record.organizationid,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.masterid != null" >
        MASTERID = #{record.masterid,jdbcType=DECIMAL},
      </if>
      <if test="record.xuhao != null" >
        XUHAO = #{record.xuhao,jdbcType=VARCHAR},
      </if>
      <if test="record.xingming != null" >
        XINGMING = #{record.xingming,jdbcType=VARCHAR},
      </if>
      <if test="record.chushengnianyue != null" >
        CHUSHENGNIANYUE = #{record.chushengnianyue,jdbcType=TIMESTAMP},
      </if>
      <if test="record.danweizhiwu != null" >
        DANWEIZHIWU = #{record.danweizhiwu,jdbcType=VARCHAR},
      </if>
      <if test="record.gongzuodanwei != null" >
        GONGZUODANWEI = #{record.gongzuodanwei,jdbcType=VARCHAR},
      </if>
      <if test="record.zaizhizhuangtai != null" >
        ZAIZHIZHUANGTAI = #{record.zaizhizhuangtai,jdbcType=VARCHAR},
      </if>
      <if test="record.lingchouqingkuang != null" >
        LINGCHOUQINGKUANG = #{record.lingchouqingkuang,jdbcType=VARCHAR},
      </if>
      <if test="record.pizhundanwei != null" >
        PIZHUNDANWEI = #{record.pizhundanwei,jdbcType=VARCHAR},
      </if>
      <if test="record.pizhunshijian != null" >
        PIZHUNSHIJIAN = #{record.pizhunshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zhiwu != null" >
        ZHIWU = #{record.zhiwu,jdbcType=VARCHAR},
      </if>
      <if test="record.xingbie != null" >
        XINGBIE = #{record.xingbie,jdbcType=VARCHAR},
      </if>
      <if test="record.shetuanzhiwu != null" >
        SHETUANZHIWU = #{record.shetuanzhiwu,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update MJZZ.MF_GWYJZ_ZB
    set ID = #{record.id,jdbcType=DECIMAL},
      INSTANCEID = #{record.instanceid,jdbcType=VARCHAR},
      ORGANIZATIONID = #{record.organizationid,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      MASTERID = #{record.masterid,jdbcType=DECIMAL},
      XUHAO = #{record.xuhao,jdbcType=VARCHAR},
      XINGMING = #{record.xingming,jdbcType=VARCHAR},
      CHUSHENGNIANYUE = #{record.chushengnianyue,jdbcType=TIMESTAMP},
      DANWEIZHIWU = #{record.danweizhiwu,jdbcType=VARCHAR},
      GONGZUODANWEI = #{record.gongzuodanwei,jdbcType=VARCHAR},
      ZAIZHIZHUANGTAI = #{record.zaizhizhuangtai,jdbcType=VARCHAR},
      LINGCHOUQINGKUANG = #{record.lingchouqingkuang,jdbcType=VARCHAR},
      PIZHUNDANWEI = #{record.pizhundanwei,jdbcType=VARCHAR},
      PIZHUNSHIJIAN = #{record.pizhunshijian,jdbcType=TIMESTAMP},
      ZHIWU = #{record.zhiwu,jdbcType=VARCHAR},
      XINGBIE = #{record.xingbie,jdbcType=VARCHAR},
      SHETUANZHIWU = #{record.shetuanzhiwu,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xgb.model.MfGwyjzZb" >
    update MJZZ.MF_GWYJZ_ZB
    <set >
      <if test="instanceid != null" >
        INSTANCEID = #{instanceid,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        ORGANIZATIONID = #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="masterid != null" >
        MASTERID = #{masterid,jdbcType=DECIMAL},
      </if>
      <if test="xuhao != null" >
        XUHAO = #{xuhao,jdbcType=VARCHAR},
      </if>
      <if test="xingming != null" >
        XINGMING = #{xingming,jdbcType=VARCHAR},
      </if>
      <if test="chushengnianyue != null" >
        CHUSHENGNIANYUE = #{chushengnianyue,jdbcType=TIMESTAMP},
      </if>
      <if test="danweizhiwu != null" >
        DANWEIZHIWU = #{danweizhiwu,jdbcType=VARCHAR},
      </if>
      <if test="gongzuodanwei != null" >
        GONGZUODANWEI = #{gongzuodanwei,jdbcType=VARCHAR},
      </if>
      <if test="zaizhizhuangtai != null" >
        ZAIZHIZHUANGTAI = #{zaizhizhuangtai,jdbcType=VARCHAR},
      </if>
      <if test="lingchouqingkuang != null" >
        LINGCHOUQINGKUANG = #{lingchouqingkuang,jdbcType=VARCHAR},
      </if>
      <if test="pizhundanwei != null" >
        PIZHUNDANWEI = #{pizhundanwei,jdbcType=VARCHAR},
      </if>
      <if test="pizhunshijian != null" >
        PIZHUNSHIJIAN = #{pizhunshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="zhiwu != null" >
        ZHIWU = #{zhiwu,jdbcType=VARCHAR},
      </if>
      <if test="xingbie != null" >
        XINGBIE = #{xingbie,jdbcType=VARCHAR},
      </if>
      <if test="shetuanzhiwu != null" >
        SHETUANZHIWU = #{shetuanzhiwu,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xgb.model.MfGwyjzZb" >
    update MJZZ.MF_GWYJZ_ZB
    set INSTANCEID = #{instanceid,jdbcType=VARCHAR},
      ORGANIZATIONID = #{organizationid,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      MASTERID = #{masterid,jdbcType=DECIMAL},
      XUHAO = #{xuhao,jdbcType=VARCHAR},
      XINGMING = #{xingming,jdbcType=VARCHAR},
      CHUSHENGNIANYUE = #{chushengnianyue,jdbcType=TIMESTAMP},
      DANWEIZHIWU = #{danweizhiwu,jdbcType=VARCHAR},
      GONGZUODANWEI = #{gongzuodanwei,jdbcType=VARCHAR},
      ZAIZHIZHUANGTAI = #{zaizhizhuangtai,jdbcType=VARCHAR},
      LINGCHOUQINGKUANG = #{lingchouqingkuang,jdbcType=VARCHAR},
      PIZHUNDANWEI = #{pizhundanwei,jdbcType=VARCHAR},
      PIZHUNSHIJIAN = #{pizhunshijian,jdbcType=TIMESTAMP},
      ZHIWU = #{zhiwu,jdbcType=VARCHAR},
      XINGBIE = #{xingbie,jdbcType=VARCHAR},
      SHETUANZHIWU = #{shetuanzhiwu,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>