<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xgb.dao.StNjAdministratCostInxMapper" >
  <resultMap id="BaseResultMap" type="com.xgb.model.StNjAdministratCostInx" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="INSTANCEID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ORGANIZATIONID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATUS" jdbcType="DECIMAL" javaType="java.lang.Short" />
      <arg column="MASTERID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="XINGZHENGSHOUFEIZONGE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="SHIFOUSHANZIGENGGAI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SHANZISHEJIJINE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="ZIXINGJIANMIANSHOUFEI" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="JIANMIANSHOUFEIJUTIQINGKUANG" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ZHENGGAIJINE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="ZHENGGAIJINEJUTIQINGKUANG" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="WUCIQINGKUANG" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, INSTANCEID, ORGANIZATIONID, STATUS, MASTERID, XINGZHENGSHOUFEIZONGE, SHIFOUSHANZIGENGGAI, 
    SHANZISHEJIJINE, ZIXINGJIANMIANSHOUFEI, JIANMIANSHOUFEIJUTIQINGKUANG, ZHENGGAIJINE, 
    ZHENGGAIJINEJUTIQINGKUANG, WUCIQINGKUANG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xgb.model.StNjAdministratCostInxExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MJZZ.ST_NJ_ADMINISTRAT_COST_INX
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MJZZ.ST_NJ_ADMINISTRAT_COST_INX
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MJZZ.ST_NJ_ADMINISTRAT_COST_INX
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.xgb.model.StNjAdministratCostInxExample" >
    delete from MJZZ.ST_NJ_ADMINISTRAT_COST_INX
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xgb.model.StNjAdministratCostInx" >
    insert into MJZZ.ST_NJ_ADMINISTRAT_COST_INX (ID, INSTANCEID, ORGANIZATIONID, 
      STATUS, MASTERID, XINGZHENGSHOUFEIZONGE, 
      SHIFOUSHANZIGENGGAI, SHANZISHEJIJINE, ZIXINGJIANMIANSHOUFEI, 
      JIANMIANSHOUFEIJUTIQINGKUANG, ZHENGGAIJINE, 
      ZHENGGAIJINEJUTIQINGKUANG, WUCIQINGKUANG
      )
    values (#{id,jdbcType=DECIMAL}, #{instanceid,jdbcType=VARCHAR}, #{organizationid,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{masterid,jdbcType=DECIMAL}, #{xingzhengshoufeizonge,jdbcType=DECIMAL}, 
      #{shifoushanzigenggai,jdbcType=VARCHAR}, #{shanzishejijine,jdbcType=DECIMAL}, #{zixingjianmianshoufei,jdbcType=DECIMAL}, 
      #{jianmianshoufeijutiqingkuang,jdbcType=VARCHAR}, #{zhenggaijine,jdbcType=DECIMAL}, 
      #{zhenggaijinejutiqingkuang,jdbcType=VARCHAR}, #{wuciqingkuang,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xgb.model.StNjAdministratCostInx" >
    insert into MJZZ.ST_NJ_ADMINISTRAT_COST_INX
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="instanceid != null" >
        INSTANCEID,
      </if>
      <if test="organizationid != null" >
        ORGANIZATIONID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="masterid != null" >
        MASTERID,
      </if>
      <if test="xingzhengshoufeizonge != null" >
        XINGZHENGSHOUFEIZONGE,
      </if>
      <if test="shifoushanzigenggai != null" >
        SHIFOUSHANZIGENGGAI,
      </if>
      <if test="shanzishejijine != null" >
        SHANZISHEJIJINE,
      </if>
      <if test="zixingjianmianshoufei != null" >
        ZIXINGJIANMIANSHOUFEI,
      </if>
      <if test="jianmianshoufeijutiqingkuang != null" >
        JIANMIANSHOUFEIJUTIQINGKUANG,
      </if>
      <if test="zhenggaijine != null" >
        ZHENGGAIJINE,
      </if>
      <if test="zhenggaijinejutiqingkuang != null" >
        ZHENGGAIJINEJUTIQINGKUANG,
      </if>
      <if test="wuciqingkuang != null" >
        WUCIQINGKUANG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="instanceid != null" >
        #{instanceid,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="masterid != null" >
        #{masterid,jdbcType=DECIMAL},
      </if>
      <if test="xingzhengshoufeizonge != null" >
        #{xingzhengshoufeizonge,jdbcType=DECIMAL},
      </if>
      <if test="shifoushanzigenggai != null" >
        #{shifoushanzigenggai,jdbcType=VARCHAR},
      </if>
      <if test="shanzishejijine != null" >
        #{shanzishejijine,jdbcType=DECIMAL},
      </if>
      <if test="zixingjianmianshoufei != null" >
        #{zixingjianmianshoufei,jdbcType=DECIMAL},
      </if>
      <if test="jianmianshoufeijutiqingkuang != null" >
        #{jianmianshoufeijutiqingkuang,jdbcType=VARCHAR},
      </if>
      <if test="zhenggaijine != null" >
        #{zhenggaijine,jdbcType=DECIMAL},
      </if>
      <if test="zhenggaijinejutiqingkuang != null" >
        #{zhenggaijinejutiqingkuang,jdbcType=VARCHAR},
      </if>
      <if test="wuciqingkuang != null" >
        #{wuciqingkuang,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xgb.model.StNjAdministratCostInxExample" resultType="java.lang.Integer" >
    select count(*) from MJZZ.ST_NJ_ADMINISTRAT_COST_INX
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update MJZZ.ST_NJ_ADMINISTRAT_COST_INX
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.instanceid != null" >
        INSTANCEID = #{record.instanceid,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationid != null" >
        ORGANIZATIONID = #{record.organizationid,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.masterid != null" >
        MASTERID = #{record.masterid,jdbcType=DECIMAL},
      </if>
      <if test="record.xingzhengshoufeizonge != null" >
        XINGZHENGSHOUFEIZONGE = #{record.xingzhengshoufeizonge,jdbcType=DECIMAL},
      </if>
      <if test="record.shifoushanzigenggai != null" >
        SHIFOUSHANZIGENGGAI = #{record.shifoushanzigenggai,jdbcType=VARCHAR},
      </if>
      <if test="record.shanzishejijine != null" >
        SHANZISHEJIJINE = #{record.shanzishejijine,jdbcType=DECIMAL},
      </if>
      <if test="record.zixingjianmianshoufei != null" >
        ZIXINGJIANMIANSHOUFEI = #{record.zixingjianmianshoufei,jdbcType=DECIMAL},
      </if>
      <if test="record.jianmianshoufeijutiqingkuang != null" >
        JIANMIANSHOUFEIJUTIQINGKUANG = #{record.jianmianshoufeijutiqingkuang,jdbcType=VARCHAR},
      </if>
      <if test="record.zhenggaijine != null" >
        ZHENGGAIJINE = #{record.zhenggaijine,jdbcType=DECIMAL},
      </if>
      <if test="record.zhenggaijinejutiqingkuang != null" >
        ZHENGGAIJINEJUTIQINGKUANG = #{record.zhenggaijinejutiqingkuang,jdbcType=VARCHAR},
      </if>
      <if test="record.wuciqingkuang != null" >
        WUCIQINGKUANG = #{record.wuciqingkuang,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update MJZZ.ST_NJ_ADMINISTRAT_COST_INX
    set ID = #{record.id,jdbcType=DECIMAL},
      INSTANCEID = #{record.instanceid,jdbcType=VARCHAR},
      ORGANIZATIONID = #{record.organizationid,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      MASTERID = #{record.masterid,jdbcType=DECIMAL},
      XINGZHENGSHOUFEIZONGE = #{record.xingzhengshoufeizonge,jdbcType=DECIMAL},
      SHIFOUSHANZIGENGGAI = #{record.shifoushanzigenggai,jdbcType=VARCHAR},
      SHANZISHEJIJINE = #{record.shanzishejijine,jdbcType=DECIMAL},
      ZIXINGJIANMIANSHOUFEI = #{record.zixingjianmianshoufei,jdbcType=DECIMAL},
      JIANMIANSHOUFEIJUTIQINGKUANG = #{record.jianmianshoufeijutiqingkuang,jdbcType=VARCHAR},
      ZHENGGAIJINE = #{record.zhenggaijine,jdbcType=DECIMAL},
      ZHENGGAIJINEJUTIQINGKUANG = #{record.zhenggaijinejutiqingkuang,jdbcType=VARCHAR},
      WUCIQINGKUANG = #{record.wuciqingkuang,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xgb.model.StNjAdministratCostInx" >
    update MJZZ.ST_NJ_ADMINISTRAT_COST_INX
    <set >
      <if test="instanceid != null" >
        INSTANCEID = #{instanceid,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        ORGANIZATIONID = #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="masterid != null" >
        MASTERID = #{masterid,jdbcType=DECIMAL},
      </if>
      <if test="xingzhengshoufeizonge != null" >
        XINGZHENGSHOUFEIZONGE = #{xingzhengshoufeizonge,jdbcType=DECIMAL},
      </if>
      <if test="shifoushanzigenggai != null" >
        SHIFOUSHANZIGENGGAI = #{shifoushanzigenggai,jdbcType=VARCHAR},
      </if>
      <if test="shanzishejijine != null" >
        SHANZISHEJIJINE = #{shanzishejijine,jdbcType=DECIMAL},
      </if>
      <if test="zixingjianmianshoufei != null" >
        ZIXINGJIANMIANSHOUFEI = #{zixingjianmianshoufei,jdbcType=DECIMAL},
      </if>
      <if test="jianmianshoufeijutiqingkuang != null" >
        JIANMIANSHOUFEIJUTIQINGKUANG = #{jianmianshoufeijutiqingkuang,jdbcType=VARCHAR},
      </if>
      <if test="zhenggaijine != null" >
        ZHENGGAIJINE = #{zhenggaijine,jdbcType=DECIMAL},
      </if>
      <if test="zhenggaijinejutiqingkuang != null" >
        ZHENGGAIJINEJUTIQINGKUANG = #{zhenggaijinejutiqingkuang,jdbcType=VARCHAR},
      </if>
      <if test="wuciqingkuang != null" >
        WUCIQINGKUANG = #{wuciqingkuang,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xgb.model.StNjAdministratCostInx" >
    update MJZZ.ST_NJ_ADMINISTRAT_COST_INX
    set INSTANCEID = #{instanceid,jdbcType=VARCHAR},
      ORGANIZATIONID = #{organizationid,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      MASTERID = #{masterid,jdbcType=DECIMAL},
      XINGZHENGSHOUFEIZONGE = #{xingzhengshoufeizonge,jdbcType=DECIMAL},
      SHIFOUSHANZIGENGGAI = #{shifoushanzigenggai,jdbcType=VARCHAR},
      SHANZISHEJIJINE = #{shanzishejijine,jdbcType=DECIMAL},
      ZIXINGJIANMIANSHOUFEI = #{zixingjianmianshoufei,jdbcType=DECIMAL},
      JIANMIANSHOUFEIJUTIQINGKUANG = #{jianmianshoufeijutiqingkuang,jdbcType=VARCHAR},
      ZHENGGAIJINE = #{zhenggaijine,jdbcType=DECIMAL},
      ZHENGGAIJINEJUTIQINGKUANG = #{zhenggaijinejutiqingkuang,jdbcType=VARCHAR},
      WUCIQINGKUANG = #{wuciqingkuang,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>