<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xgb.dao.StNjReport16Sub1Mapper" >
  <resultMap id="BaseResultMap" type="com.xgb.model.StNjReport16Sub1" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="INSTANCEID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ORGANIZATIONID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATUS" jdbcType="DECIMAL" javaType="java.lang.Short" />
      <arg column="MASTERID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="XUHAO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GUOJIZUZHI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="XIANGMUMINGCHENG" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PIZHUNJIGUAN" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="HEZUODANWEI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JINGNEI" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="JINGWAI" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="XIANGMULEIBIE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SHISHIKAISHISHIJIAN" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="SHISHIDI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SHISHIJIESHUSHIJIAN" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="TJNJJIEGUO1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TJNJJIEGUO2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TJNJYIJIAN1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TJNJYIJIAN2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TJNJXINGMING1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TJNJXINGMING2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TJNJSHIJIAN1" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="TJNJSHIJIAN2" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="WUCIQINGKUANG" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, INSTANCEID, ORGANIZATIONID, STATUS, MASTERID, XUHAO, GUOJIZUZHI, XIANGMUMINGCHENG, 
    PIZHUNJIGUAN, HEZUODANWEI, JINGNEI, JINGWAI, XIANGMULEIBIE, SHISHIKAISHISHIJIAN, 
    SHISHIDI, SHISHIJIESHUSHIJIAN, TJNJJIEGUO1, TJNJJIEGUO2, TJNJYIJIAN1, TJNJYIJIAN2, 
    TJNJXINGMING1, TJNJXINGMING2, TJNJSHIJIAN1, TJNJSHIJIAN2, WUCIQINGKUANG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xgb.model.StNjReport16Sub1Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MJZZ.ST_NJ_REPORT16_SUB1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MJZZ.ST_NJ_REPORT16_SUB1
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MJZZ.ST_NJ_REPORT16_SUB1
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.xgb.model.StNjReport16Sub1Example" >
    delete from MJZZ.ST_NJ_REPORT16_SUB1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xgb.model.StNjReport16Sub1" >
    insert into MJZZ.ST_NJ_REPORT16_SUB1 (ID, INSTANCEID, ORGANIZATIONID, 
      STATUS, MASTERID, XUHAO, 
      GUOJIZUZHI, XIANGMUMINGCHENG, PIZHUNJIGUAN, 
      HEZUODANWEI, JINGNEI, JINGWAI, 
      XIANGMULEIBIE, SHISHIKAISHISHIJIAN, SHISHIDI, 
      SHISHIJIESHUSHIJIAN, TJNJJIEGUO1, TJNJJIEGUO2, 
      TJNJYIJIAN1, TJNJYIJIAN2, TJNJXINGMING1, 
      TJNJXINGMING2, TJNJSHIJIAN1, TJNJSHIJIAN2, 
      WUCIQINGKUANG)
    values (#{id,jdbcType=DECIMAL}, #{instanceid,jdbcType=VARCHAR}, #{organizationid,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{masterid,jdbcType=DECIMAL}, #{xuhao,jdbcType=VARCHAR}, 
      #{guojizuzhi,jdbcType=VARCHAR}, #{xiangmumingcheng,jdbcType=VARCHAR}, #{pizhunjiguan,jdbcType=VARCHAR}, 
      #{hezuodanwei,jdbcType=VARCHAR}, #{jingnei,jdbcType=DECIMAL}, #{jingwai,jdbcType=DECIMAL}, 
      #{xiangmuleibie,jdbcType=VARCHAR}, #{shishikaishishijian,jdbcType=TIMESTAMP}, #{shishidi,jdbcType=VARCHAR}, 
      #{shishijieshushijian,jdbcType=TIMESTAMP}, #{tjnjjieguo1,jdbcType=VARCHAR}, #{tjnjjieguo2,jdbcType=VARCHAR}, 
      #{tjnjyijian1,jdbcType=VARCHAR}, #{tjnjyijian2,jdbcType=VARCHAR}, #{tjnjxingming1,jdbcType=VARCHAR}, 
      #{tjnjxingming2,jdbcType=VARCHAR}, #{tjnjshijian1,jdbcType=TIMESTAMP}, #{tjnjshijian2,jdbcType=TIMESTAMP}, 
      #{wuciqingkuang,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xgb.model.StNjReport16Sub1" >
    insert into MJZZ.ST_NJ_REPORT16_SUB1
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="instanceid != null" >
        INSTANCEID,
      </if>
      <if test="organizationid != null" >
        ORGANIZATIONID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="masterid != null" >
        MASTERID,
      </if>
      <if test="xuhao != null" >
        XUHAO,
      </if>
      <if test="guojizuzhi != null" >
        GUOJIZUZHI,
      </if>
      <if test="xiangmumingcheng != null" >
        XIANGMUMINGCHENG,
      </if>
      <if test="pizhunjiguan != null" >
        PIZHUNJIGUAN,
      </if>
      <if test="hezuodanwei != null" >
        HEZUODANWEI,
      </if>
      <if test="jingnei != null" >
        JINGNEI,
      </if>
      <if test="jingwai != null" >
        JINGWAI,
      </if>
      <if test="xiangmuleibie != null" >
        XIANGMULEIBIE,
      </if>
      <if test="shishikaishishijian != null" >
        SHISHIKAISHISHIJIAN,
      </if>
      <if test="shishidi != null" >
        SHISHIDI,
      </if>
      <if test="shishijieshushijian != null" >
        SHISHIJIESHUSHIJIAN,
      </if>
      <if test="tjnjjieguo1 != null" >
        TJNJJIEGUO1,
      </if>
      <if test="tjnjjieguo2 != null" >
        TJNJJIEGUO2,
      </if>
      <if test="tjnjyijian1 != null" >
        TJNJYIJIAN1,
      </if>
      <if test="tjnjyijian2 != null" >
        TJNJYIJIAN2,
      </if>
      <if test="tjnjxingming1 != null" >
        TJNJXINGMING1,
      </if>
      <if test="tjnjxingming2 != null" >
        TJNJXINGMING2,
      </if>
      <if test="tjnjshijian1 != null" >
        TJNJSHIJIAN1,
      </if>
      <if test="tjnjshijian2 != null" >
        TJNJSHIJIAN2,
      </if>
      <if test="wuciqingkuang != null" >
        WUCIQINGKUANG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="instanceid != null" >
        #{instanceid,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="masterid != null" >
        #{masterid,jdbcType=DECIMAL},
      </if>
      <if test="xuhao != null" >
        #{xuhao,jdbcType=VARCHAR},
      </if>
      <if test="guojizuzhi != null" >
        #{guojizuzhi,jdbcType=VARCHAR},
      </if>
      <if test="xiangmumingcheng != null" >
        #{xiangmumingcheng,jdbcType=VARCHAR},
      </if>
      <if test="pizhunjiguan != null" >
        #{pizhunjiguan,jdbcType=VARCHAR},
      </if>
      <if test="hezuodanwei != null" >
        #{hezuodanwei,jdbcType=VARCHAR},
      </if>
      <if test="jingnei != null" >
        #{jingnei,jdbcType=DECIMAL},
      </if>
      <if test="jingwai != null" >
        #{jingwai,jdbcType=DECIMAL},
      </if>
      <if test="xiangmuleibie != null" >
        #{xiangmuleibie,jdbcType=VARCHAR},
      </if>
      <if test="shishikaishishijian != null" >
        #{shishikaishishijian,jdbcType=TIMESTAMP},
      </if>
      <if test="shishidi != null" >
        #{shishidi,jdbcType=VARCHAR},
      </if>
      <if test="shishijieshushijian != null" >
        #{shishijieshushijian,jdbcType=TIMESTAMP},
      </if>
      <if test="tjnjjieguo1 != null" >
        #{tjnjjieguo1,jdbcType=VARCHAR},
      </if>
      <if test="tjnjjieguo2 != null" >
        #{tjnjjieguo2,jdbcType=VARCHAR},
      </if>
      <if test="tjnjyijian1 != null" >
        #{tjnjyijian1,jdbcType=VARCHAR},
      </if>
      <if test="tjnjyijian2 != null" >
        #{tjnjyijian2,jdbcType=VARCHAR},
      </if>
      <if test="tjnjxingming1 != null" >
        #{tjnjxingming1,jdbcType=VARCHAR},
      </if>
      <if test="tjnjxingming2 != null" >
        #{tjnjxingming2,jdbcType=VARCHAR},
      </if>
      <if test="tjnjshijian1 != null" >
        #{tjnjshijian1,jdbcType=TIMESTAMP},
      </if>
      <if test="tjnjshijian2 != null" >
        #{tjnjshijian2,jdbcType=TIMESTAMP},
      </if>
      <if test="wuciqingkuang != null" >
        #{wuciqingkuang,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xgb.model.StNjReport16Sub1Example" resultType="java.lang.Integer" >
    select count(*) from MJZZ.ST_NJ_REPORT16_SUB1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update MJZZ.ST_NJ_REPORT16_SUB1
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.instanceid != null" >
        INSTANCEID = #{record.instanceid,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationid != null" >
        ORGANIZATIONID = #{record.organizationid,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.masterid != null" >
        MASTERID = #{record.masterid,jdbcType=DECIMAL},
      </if>
      <if test="record.xuhao != null" >
        XUHAO = #{record.xuhao,jdbcType=VARCHAR},
      </if>
      <if test="record.guojizuzhi != null" >
        GUOJIZUZHI = #{record.guojizuzhi,jdbcType=VARCHAR},
      </if>
      <if test="record.xiangmumingcheng != null" >
        XIANGMUMINGCHENG = #{record.xiangmumingcheng,jdbcType=VARCHAR},
      </if>
      <if test="record.pizhunjiguan != null" >
        PIZHUNJIGUAN = #{record.pizhunjiguan,jdbcType=VARCHAR},
      </if>
      <if test="record.hezuodanwei != null" >
        HEZUODANWEI = #{record.hezuodanwei,jdbcType=VARCHAR},
      </if>
      <if test="record.jingnei != null" >
        JINGNEI = #{record.jingnei,jdbcType=DECIMAL},
      </if>
      <if test="record.jingwai != null" >
        JINGWAI = #{record.jingwai,jdbcType=DECIMAL},
      </if>
      <if test="record.xiangmuleibie != null" >
        XIANGMULEIBIE = #{record.xiangmuleibie,jdbcType=VARCHAR},
      </if>
      <if test="record.shishikaishishijian != null" >
        SHISHIKAISHISHIJIAN = #{record.shishikaishishijian,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shishidi != null" >
        SHISHIDI = #{record.shishidi,jdbcType=VARCHAR},
      </if>
      <if test="record.shishijieshushijian != null" >
        SHISHIJIESHUSHIJIAN = #{record.shishijieshushijian,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tjnjjieguo1 != null" >
        TJNJJIEGUO1 = #{record.tjnjjieguo1,jdbcType=VARCHAR},
      </if>
      <if test="record.tjnjjieguo2 != null" >
        TJNJJIEGUO2 = #{record.tjnjjieguo2,jdbcType=VARCHAR},
      </if>
      <if test="record.tjnjyijian1 != null" >
        TJNJYIJIAN1 = #{record.tjnjyijian1,jdbcType=VARCHAR},
      </if>
      <if test="record.tjnjyijian2 != null" >
        TJNJYIJIAN2 = #{record.tjnjyijian2,jdbcType=VARCHAR},
      </if>
      <if test="record.tjnjxingming1 != null" >
        TJNJXINGMING1 = #{record.tjnjxingming1,jdbcType=VARCHAR},
      </if>
      <if test="record.tjnjxingming2 != null" >
        TJNJXINGMING2 = #{record.tjnjxingming2,jdbcType=VARCHAR},
      </if>
      <if test="record.tjnjshijian1 != null" >
        TJNJSHIJIAN1 = #{record.tjnjshijian1,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tjnjshijian2 != null" >
        TJNJSHIJIAN2 = #{record.tjnjshijian2,jdbcType=TIMESTAMP},
      </if>
      <if test="record.wuciqingkuang != null" >
        WUCIQINGKUANG = #{record.wuciqingkuang,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update MJZZ.ST_NJ_REPORT16_SUB1
    set ID = #{record.id,jdbcType=DECIMAL},
      INSTANCEID = #{record.instanceid,jdbcType=VARCHAR},
      ORGANIZATIONID = #{record.organizationid,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      MASTERID = #{record.masterid,jdbcType=DECIMAL},
      XUHAO = #{record.xuhao,jdbcType=VARCHAR},
      GUOJIZUZHI = #{record.guojizuzhi,jdbcType=VARCHAR},
      XIANGMUMINGCHENG = #{record.xiangmumingcheng,jdbcType=VARCHAR},
      PIZHUNJIGUAN = #{record.pizhunjiguan,jdbcType=VARCHAR},
      HEZUODANWEI = #{record.hezuodanwei,jdbcType=VARCHAR},
      JINGNEI = #{record.jingnei,jdbcType=DECIMAL},
      JINGWAI = #{record.jingwai,jdbcType=DECIMAL},
      XIANGMULEIBIE = #{record.xiangmuleibie,jdbcType=VARCHAR},
      SHISHIKAISHISHIJIAN = #{record.shishikaishishijian,jdbcType=TIMESTAMP},
      SHISHIDI = #{record.shishidi,jdbcType=VARCHAR},
      SHISHIJIESHUSHIJIAN = #{record.shishijieshushijian,jdbcType=TIMESTAMP},
      TJNJJIEGUO1 = #{record.tjnjjieguo1,jdbcType=VARCHAR},
      TJNJJIEGUO2 = #{record.tjnjjieguo2,jdbcType=VARCHAR},
      TJNJYIJIAN1 = #{record.tjnjyijian1,jdbcType=VARCHAR},
      TJNJYIJIAN2 = #{record.tjnjyijian2,jdbcType=VARCHAR},
      TJNJXINGMING1 = #{record.tjnjxingming1,jdbcType=VARCHAR},
      TJNJXINGMING2 = #{record.tjnjxingming2,jdbcType=VARCHAR},
      TJNJSHIJIAN1 = #{record.tjnjshijian1,jdbcType=TIMESTAMP},
      TJNJSHIJIAN2 = #{record.tjnjshijian2,jdbcType=TIMESTAMP},
      WUCIQINGKUANG = #{record.wuciqingkuang,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xgb.model.StNjReport16Sub1" >
    update MJZZ.ST_NJ_REPORT16_SUB1
    <set >
      <if test="instanceid != null" >
        INSTANCEID = #{instanceid,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        ORGANIZATIONID = #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="masterid != null" >
        MASTERID = #{masterid,jdbcType=DECIMAL},
      </if>
      <if test="xuhao != null" >
        XUHAO = #{xuhao,jdbcType=VARCHAR},
      </if>
      <if test="guojizuzhi != null" >
        GUOJIZUZHI = #{guojizuzhi,jdbcType=VARCHAR},
      </if>
      <if test="xiangmumingcheng != null" >
        XIANGMUMINGCHENG = #{xiangmumingcheng,jdbcType=VARCHAR},
      </if>
      <if test="pizhunjiguan != null" >
        PIZHUNJIGUAN = #{pizhunjiguan,jdbcType=VARCHAR},
      </if>
      <if test="hezuodanwei != null" >
        HEZUODANWEI = #{hezuodanwei,jdbcType=VARCHAR},
      </if>
      <if test="jingnei != null" >
        JINGNEI = #{jingnei,jdbcType=DECIMAL},
      </if>
      <if test="jingwai != null" >
        JINGWAI = #{jingwai,jdbcType=DECIMAL},
      </if>
      <if test="xiangmuleibie != null" >
        XIANGMULEIBIE = #{xiangmuleibie,jdbcType=VARCHAR},
      </if>
      <if test="shishikaishishijian != null" >
        SHISHIKAISHISHIJIAN = #{shishikaishishijian,jdbcType=TIMESTAMP},
      </if>
      <if test="shishidi != null" >
        SHISHIDI = #{shishidi,jdbcType=VARCHAR},
      </if>
      <if test="shishijieshushijian != null" >
        SHISHIJIESHUSHIJIAN = #{shishijieshushijian,jdbcType=TIMESTAMP},
      </if>
      <if test="tjnjjieguo1 != null" >
        TJNJJIEGUO1 = #{tjnjjieguo1,jdbcType=VARCHAR},
      </if>
      <if test="tjnjjieguo2 != null" >
        TJNJJIEGUO2 = #{tjnjjieguo2,jdbcType=VARCHAR},
      </if>
      <if test="tjnjyijian1 != null" >
        TJNJYIJIAN1 = #{tjnjyijian1,jdbcType=VARCHAR},
      </if>
      <if test="tjnjyijian2 != null" >
        TJNJYIJIAN2 = #{tjnjyijian2,jdbcType=VARCHAR},
      </if>
      <if test="tjnjxingming1 != null" >
        TJNJXINGMING1 = #{tjnjxingming1,jdbcType=VARCHAR},
      </if>
      <if test="tjnjxingming2 != null" >
        TJNJXINGMING2 = #{tjnjxingming2,jdbcType=VARCHAR},
      </if>
      <if test="tjnjshijian1 != null" >
        TJNJSHIJIAN1 = #{tjnjshijian1,jdbcType=TIMESTAMP},
      </if>
      <if test="tjnjshijian2 != null" >
        TJNJSHIJIAN2 = #{tjnjshijian2,jdbcType=TIMESTAMP},
      </if>
      <if test="wuciqingkuang != null" >
        WUCIQINGKUANG = #{wuciqingkuang,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xgb.model.StNjReport16Sub1" >
    update MJZZ.ST_NJ_REPORT16_SUB1
    set INSTANCEID = #{instanceid,jdbcType=VARCHAR},
      ORGANIZATIONID = #{organizationid,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      MASTERID = #{masterid,jdbcType=DECIMAL},
      XUHAO = #{xuhao,jdbcType=VARCHAR},
      GUOJIZUZHI = #{guojizuzhi,jdbcType=VARCHAR},
      XIANGMUMINGCHENG = #{xiangmumingcheng,jdbcType=VARCHAR},
      PIZHUNJIGUAN = #{pizhunjiguan,jdbcType=VARCHAR},
      HEZUODANWEI = #{hezuodanwei,jdbcType=VARCHAR},
      JINGNEI = #{jingnei,jdbcType=DECIMAL},
      JINGWAI = #{jingwai,jdbcType=DECIMAL},
      XIANGMULEIBIE = #{xiangmuleibie,jdbcType=VARCHAR},
      SHISHIKAISHISHIJIAN = #{shishikaishishijian,jdbcType=TIMESTAMP},
      SHISHIDI = #{shishidi,jdbcType=VARCHAR},
      SHISHIJIESHUSHIJIAN = #{shishijieshushijian,jdbcType=TIMESTAMP},
      TJNJJIEGUO1 = #{tjnjjieguo1,jdbcType=VARCHAR},
      TJNJJIEGUO2 = #{tjnjjieguo2,jdbcType=VARCHAR},
      TJNJYIJIAN1 = #{tjnjyijian1,jdbcType=VARCHAR},
      TJNJYIJIAN2 = #{tjnjyijian2,jdbcType=VARCHAR},
      TJNJXINGMING1 = #{tjnjxingming1,jdbcType=VARCHAR},
      TJNJXINGMING2 = #{tjnjxingming2,jdbcType=VARCHAR},
      TJNJSHIJIAN1 = #{tjnjshijian1,jdbcType=TIMESTAMP},
      TJNJSHIJIAN2 = #{tjnjshijian2,jdbcType=TIMESTAMP},
      WUCIQINGKUANG = #{wuciqingkuang,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>