<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xgb.dao.StNjGjhyMapper" >
  <resultMap id="BaseResultMap" type="com.xgb.model.StNjGjhy" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="INSTANCEID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ORGANIZATIONID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATUS" jdbcType="DECIMAL" javaType="java.lang.Short" />
      <arg column="TJNJJIEGUO1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TJNJJIEGUO2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TJNJYIJIAN1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TJNJYIJIAN2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TJNJXINGMING1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TJNJXINGMING2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TJNJSHIJIAN1" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="TJNJSHIJIAN2" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, INSTANCEID, ORGANIZATIONID, STATUS, TJNJJIEGUO1, TJNJJIEGUO2, TJNJYIJIAN1, TJNJYIJIAN2, 
    TJNJXINGMING1, TJNJXINGMING2, TJNJSHIJIAN1, TJNJSHIJIAN2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xgb.model.StNjGjhyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MJZZ.ST_NJ_GJHY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MJZZ.ST_NJ_GJHY
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MJZZ.ST_NJ_GJHY
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.xgb.model.StNjGjhyExample" >
    delete from MJZZ.ST_NJ_GJHY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xgb.model.StNjGjhy" >
    insert into MJZZ.ST_NJ_GJHY (ID, INSTANCEID, ORGANIZATIONID, 
      STATUS, TJNJJIEGUO1, TJNJJIEGUO2, 
      TJNJYIJIAN1, TJNJYIJIAN2, TJNJXINGMING1, 
      TJNJXINGMING2, TJNJSHIJIAN1, TJNJSHIJIAN2
      )
    values (#{id,jdbcType=DECIMAL}, #{instanceid,jdbcType=VARCHAR}, #{organizationid,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{tjnjjieguo1,jdbcType=VARCHAR}, #{tjnjjieguo2,jdbcType=VARCHAR}, 
      #{tjnjyijian1,jdbcType=VARCHAR}, #{tjnjyijian2,jdbcType=VARCHAR}, #{tjnjxingming1,jdbcType=VARCHAR}, 
      #{tjnjxingming2,jdbcType=VARCHAR}, #{tjnjshijian1,jdbcType=TIMESTAMP}, #{tjnjshijian2,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xgb.model.StNjGjhy" >
    insert into MJZZ.ST_NJ_GJHY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="instanceid != null" >
        INSTANCEID,
      </if>
      <if test="organizationid != null" >
        ORGANIZATIONID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="tjnjjieguo1 != null" >
        TJNJJIEGUO1,
      </if>
      <if test="tjnjjieguo2 != null" >
        TJNJJIEGUO2,
      </if>
      <if test="tjnjyijian1 != null" >
        TJNJYIJIAN1,
      </if>
      <if test="tjnjyijian2 != null" >
        TJNJYIJIAN2,
      </if>
      <if test="tjnjxingming1 != null" >
        TJNJXINGMING1,
      </if>
      <if test="tjnjxingming2 != null" >
        TJNJXINGMING2,
      </if>
      <if test="tjnjshijian1 != null" >
        TJNJSHIJIAN1,
      </if>
      <if test="tjnjshijian2 != null" >
        TJNJSHIJIAN2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="instanceid != null" >
        #{instanceid,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="tjnjjieguo1 != null" >
        #{tjnjjieguo1,jdbcType=VARCHAR},
      </if>
      <if test="tjnjjieguo2 != null" >
        #{tjnjjieguo2,jdbcType=VARCHAR},
      </if>
      <if test="tjnjyijian1 != null" >
        #{tjnjyijian1,jdbcType=VARCHAR},
      </if>
      <if test="tjnjyijian2 != null" >
        #{tjnjyijian2,jdbcType=VARCHAR},
      </if>
      <if test="tjnjxingming1 != null" >
        #{tjnjxingming1,jdbcType=VARCHAR},
      </if>
      <if test="tjnjxingming2 != null" >
        #{tjnjxingming2,jdbcType=VARCHAR},
      </if>
      <if test="tjnjshijian1 != null" >
        #{tjnjshijian1,jdbcType=TIMESTAMP},
      </if>
      <if test="tjnjshijian2 != null" >
        #{tjnjshijian2,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xgb.model.StNjGjhyExample" resultType="java.lang.Integer" >
    select count(*) from MJZZ.ST_NJ_GJHY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update MJZZ.ST_NJ_GJHY
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.instanceid != null" >
        INSTANCEID = #{record.instanceid,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationid != null" >
        ORGANIZATIONID = #{record.organizationid,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.tjnjjieguo1 != null" >
        TJNJJIEGUO1 = #{record.tjnjjieguo1,jdbcType=VARCHAR},
      </if>
      <if test="record.tjnjjieguo2 != null" >
        TJNJJIEGUO2 = #{record.tjnjjieguo2,jdbcType=VARCHAR},
      </if>
      <if test="record.tjnjyijian1 != null" >
        TJNJYIJIAN1 = #{record.tjnjyijian1,jdbcType=VARCHAR},
      </if>
      <if test="record.tjnjyijian2 != null" >
        TJNJYIJIAN2 = #{record.tjnjyijian2,jdbcType=VARCHAR},
      </if>
      <if test="record.tjnjxingming1 != null" >
        TJNJXINGMING1 = #{record.tjnjxingming1,jdbcType=VARCHAR},
      </if>
      <if test="record.tjnjxingming2 != null" >
        TJNJXINGMING2 = #{record.tjnjxingming2,jdbcType=VARCHAR},
      </if>
      <if test="record.tjnjshijian1 != null" >
        TJNJSHIJIAN1 = #{record.tjnjshijian1,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tjnjshijian2 != null" >
        TJNJSHIJIAN2 = #{record.tjnjshijian2,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update MJZZ.ST_NJ_GJHY
    set ID = #{record.id,jdbcType=DECIMAL},
      INSTANCEID = #{record.instanceid,jdbcType=VARCHAR},
      ORGANIZATIONID = #{record.organizationid,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      TJNJJIEGUO1 = #{record.tjnjjieguo1,jdbcType=VARCHAR},
      TJNJJIEGUO2 = #{record.tjnjjieguo2,jdbcType=VARCHAR},
      TJNJYIJIAN1 = #{record.tjnjyijian1,jdbcType=VARCHAR},
      TJNJYIJIAN2 = #{record.tjnjyijian2,jdbcType=VARCHAR},
      TJNJXINGMING1 = #{record.tjnjxingming1,jdbcType=VARCHAR},
      TJNJXINGMING2 = #{record.tjnjxingming2,jdbcType=VARCHAR},
      TJNJSHIJIAN1 = #{record.tjnjshijian1,jdbcType=TIMESTAMP},
      TJNJSHIJIAN2 = #{record.tjnjshijian2,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xgb.model.StNjGjhy" >
    update MJZZ.ST_NJ_GJHY
    <set >
      <if test="instanceid != null" >
        INSTANCEID = #{instanceid,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        ORGANIZATIONID = #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="tjnjjieguo1 != null" >
        TJNJJIEGUO1 = #{tjnjjieguo1,jdbcType=VARCHAR},
      </if>
      <if test="tjnjjieguo2 != null" >
        TJNJJIEGUO2 = #{tjnjjieguo2,jdbcType=VARCHAR},
      </if>
      <if test="tjnjyijian1 != null" >
        TJNJYIJIAN1 = #{tjnjyijian1,jdbcType=VARCHAR},
      </if>
      <if test="tjnjyijian2 != null" >
        TJNJYIJIAN2 = #{tjnjyijian2,jdbcType=VARCHAR},
      </if>
      <if test="tjnjxingming1 != null" >
        TJNJXINGMING1 = #{tjnjxingming1,jdbcType=VARCHAR},
      </if>
      <if test="tjnjxingming2 != null" >
        TJNJXINGMING2 = #{tjnjxingming2,jdbcType=VARCHAR},
      </if>
      <if test="tjnjshijian1 != null" >
        TJNJSHIJIAN1 = #{tjnjshijian1,jdbcType=TIMESTAMP},
      </if>
      <if test="tjnjshijian2 != null" >
        TJNJSHIJIAN2 = #{tjnjshijian2,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xgb.model.StNjGjhy" >
    update MJZZ.ST_NJ_GJHY
    set INSTANCEID = #{instanceid,jdbcType=VARCHAR},
      ORGANIZATIONID = #{organizationid,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      TJNJJIEGUO1 = #{tjnjjieguo1,jdbcType=VARCHAR},
      TJNJJIEGUO2 = #{tjnjjieguo2,jdbcType=VARCHAR},
      TJNJYIJIAN1 = #{tjnjyijian1,jdbcType=VARCHAR},
      TJNJYIJIAN2 = #{tjnjyijian2,jdbcType=VARCHAR},
      TJNJXINGMING1 = #{tjnjxingming1,jdbcType=VARCHAR},
      TJNJXINGMING2 = #{tjnjxingming2,jdbcType=VARCHAR},
      TJNJSHIJIAN1 = #{tjnjshijian1,jdbcType=TIMESTAMP},
      TJNJSHIJIAN2 = #{tjnjshijian2,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>