<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xgb.dao.JjhnjJjhyglfjySubMapper" >
  <resultMap id="BaseResultMap" type="com.xgb.model.JjhnjJjhyglfjySub" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="INSTANCEID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ORGANIZATIONID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATUS" jdbcType="DECIMAL" javaType="java.lang.Short" />
      <arg column="MASTERID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="GUANLIANFANG" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TIGONGJINE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="TIGONGYUE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="GOUMAIJINE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="GOUMAIYUE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, INSTANCEID, ORGANIZATIONID, STATUS, MASTERID, GUANLIANFANG, TIGONGJINE, TIGONGYUE, 
    GOUMAIJINE, GOUMAIYUE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xgb.model.JjhnjJjhyglfjySubExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MJZZ_USER.JJHNJ_JJHYGLFJY_SUB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MJZZ_USER.JJHNJ_JJHYGLFJY_SUB
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MJZZ_USER.JJHNJ_JJHYGLFJY_SUB
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.xgb.model.JjhnjJjhyglfjySubExample" >
    delete from MJZZ_USER.JJHNJ_JJHYGLFJY_SUB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xgb.model.JjhnjJjhyglfjySub" >
    insert into JJHNJ_JJHYGLFJY_SUB (ID, INSTANCEID, ORGANIZATIONID, 
      STATUS, MASTERID, GUANLIANFANG, 
      TIGONGJINE, TIGONGYUE, GOUMAIJINE, 
      GOUMAIYUE)
    values (#{id,jdbcType=DECIMAL}, #{instanceid,jdbcType=VARCHAR}, #{organizationid,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{masterid,jdbcType=DECIMAL}, #{guanlianfang,jdbcType=VARCHAR}, 
      #{tigongjine,jdbcType=DECIMAL}, #{tigongyue,jdbcType=DECIMAL}, #{goumaijine,jdbcType=DECIMAL}, 
      #{goumaiyue,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xgb.model.JjhnjJjhyglfjySub" >
    insert into JJHNJ_JJHYGLFJY_SUB
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="instanceid != null" >
        INSTANCEID,
      </if>
      <if test="organizationid != null" >
        ORGANIZATIONID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="masterid != null" >
        MASTERID,
      </if>
      <if test="guanlianfang != null" >
        GUANLIANFANG,
      </if>
      <if test="tigongjine != null" >
        TIGONGJINE,
      </if>
      <if test="tigongyue != null" >
        TIGONGYUE,
      </if>
      <if test="goumaijine != null" >
        GOUMAIJINE,
      </if>
      <if test="goumaiyue != null" >
        GOUMAIYUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="instanceid != null" >
        #{instanceid,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="masterid != null" >
        #{masterid,jdbcType=DECIMAL},
      </if>
      <if test="guanlianfang != null" >
        #{guanlianfang,jdbcType=VARCHAR},
      </if>
      <if test="tigongjine != null" >
        #{tigongjine,jdbcType=DECIMAL},
      </if>
      <if test="tigongyue != null" >
        #{tigongyue,jdbcType=DECIMAL},
      </if>
      <if test="goumaijine != null" >
        #{goumaijine,jdbcType=DECIMAL},
      </if>
      <if test="goumaiyue != null" >
        #{goumaiyue,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xgb.model.JjhnjJjhyglfjySubExample" resultType="java.lang.Integer" >
    select count(*) from MJZZ_USER.JJHNJ_JJHYGLFJY_SUB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update JJHNJ_JJHYGLFJY_SUB
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.instanceid != null" >
        INSTANCEID = #{record.instanceid,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationid != null" >
        ORGANIZATIONID = #{record.organizationid,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.masterid != null" >
        MASTERID = #{record.masterid,jdbcType=DECIMAL},
      </if>
      <if test="record.guanlianfang != null" >
        GUANLIANFANG = #{record.guanlianfang,jdbcType=VARCHAR},
      </if>
      <if test="record.tigongjine != null" >
        TIGONGJINE = #{record.tigongjine,jdbcType=DECIMAL},
      </if>
      <if test="record.tigongyue != null" >
        TIGONGYUE = #{record.tigongyue,jdbcType=DECIMAL},
      </if>
      <if test="record.goumaijine != null" >
        GOUMAIJINE = #{record.goumaijine,jdbcType=DECIMAL},
      </if>
      <if test="record.goumaiyue != null" >
        GOUMAIYUE = #{record.goumaiyue,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update JJHNJ_JJHYGLFJY_SUB
    set ID = #{record.id,jdbcType=DECIMAL},
      INSTANCEID = #{record.instanceid,jdbcType=VARCHAR},
      ORGANIZATIONID = #{record.organizationid,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      MASTERID = #{record.masterid,jdbcType=DECIMAL},
      GUANLIANFANG = #{record.guanlianfang,jdbcType=VARCHAR},
      TIGONGJINE = #{record.tigongjine,jdbcType=DECIMAL},
      TIGONGYUE = #{record.tigongyue,jdbcType=DECIMAL},
      GOUMAIJINE = #{record.goumaijine,jdbcType=DECIMAL},
      GOUMAIYUE = #{record.goumaiyue,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xgb.model.JjhnjJjhyglfjySub" >
    update JJHNJ_JJHYGLFJY_SUB
    <set >
      <if test="instanceid != null" >
        INSTANCEID = #{instanceid,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        ORGANIZATIONID = #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="masterid != null" >
        MASTERID = #{masterid,jdbcType=DECIMAL},
      </if>
      <if test="guanlianfang != null" >
        GUANLIANFANG = #{guanlianfang,jdbcType=VARCHAR},
      </if>
      <if test="tigongjine != null" >
        TIGONGJINE = #{tigongjine,jdbcType=DECIMAL},
      </if>
      <if test="tigongyue != null" >
        TIGONGYUE = #{tigongyue,jdbcType=DECIMAL},
      </if>
      <if test="goumaijine != null" >
        GOUMAIJINE = #{goumaijine,jdbcType=DECIMAL},
      </if>
      <if test="goumaiyue != null" >
        GOUMAIYUE = #{goumaiyue,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xgb.model.JjhnjJjhyglfjySub" >
    update JJHNJ_JJHYGLFJY_SUB
    set INSTANCEID = #{instanceid,jdbcType=VARCHAR},
      ORGANIZATIONID = #{organizationid,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      MASTERID = #{masterid,jdbcType=DECIMAL},
      GUANLIANFANG = #{guanlianfang,jdbcType=VARCHAR},
      TIGONGJINE = #{tigongjine,jdbcType=DECIMAL},
      TIGONGYUE = #{tigongyue,jdbcType=DECIMAL},
      GOUMAIJINE = #{goumaijine,jdbcType=DECIMAL},
      GOUMAIYUE = #{goumaiyue,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>